*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Dosis', sans-serif;
  
}

.btn-none{
  all: unset;
}

.container-welcome{
  background: url('../src/images/cdd-background-home-16.png') no-repeat center center fixed;
  min-height: 100vh;
  height: auto;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-welcome {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  width: 65vw;
  padding: 8px 0px;
  border: 0.1em solid #FFFFFF;
  margin: 10px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}
.btn{
  text-decoration: none;
  color: white;
  padding: 10px 0px;
  width: 60%;
  text-align: center;
  margin:10px 0px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  background: rgb(92,18,67);
  background: linear-gradient(297deg, rgba(92,18,67,1) 0%, rgba(187,70,147,1) 96%);  
}

.btn-general {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  width: 65vw;
  padding: 8px 0px;
  border: 0.1em solid #8a00a2;
  margin: 10px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: all 0.2s;
  background: linear-gradient(297deg, rgba(92,18,67,1) 0%, rgba(187,70,147,1) 96%);
}
.text-info{
    background-color: rgb(243, 236, 241,1.5);
    min-height: 300px;
    width: 85;
    margin: 65px auto;
    text-align: center;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 30px;
    border-radius: 20px;
    width: 85%;
    padding: 20px;
  
}
.information{
  width: 90%;
  padding: 10px;
  text-align: center;
  font-size:1.5rem;
}
.btn-home{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.container-welcome>img{
  width: 70%;
  margin-bottom: 50px;
  margin-top: 10px;
}
.container-welcome>h1{
  font-weight: normal;
 font-size: 80px;
}



.cofre {
  opacity: 0.2;
  filter: alpha(opacity=50);
  pointer-events: none; /* For IE8 and earlier */
}
.container-signup{
  background: url('../src/images/wireframesrotate-16.png') no-repeat center center fixed;
  background-size:cover;
  min-height: 100vh;
  height: auto;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  

}
.inputs{
   width: 80vw;
    padding: 10px;
    margin: 7px auto;
    border-style: none;
    box-shadow: none;
    border-bottom: 1.5px solid #8a00a2;
    font-size: 1.2rem;
    background-color: transparent;
    text-align: center;

}
.container-form{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 30px auto;
  
  
}
.container-form button{
  margin: 20px auto;
}

.container-form p {
  color: #bb4693;
  font-size: 1.2rem;
}

.link{
  text-decoration: none;
  
}
.container-login{
  background: url('../src/images/wireframes-01.png') no-repeat center center fixed;  
  background-size:cover;
  min-height: 100vh;
  height: auto;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
}

.container-general{
   min-height: 100vh;
    height: auto;
}

.home-page{
  background: url('../src/images/wireframes-03.png') no-repeat center center fixed;  
  background-size:cover;
}
.container-general-win {
  background: url('../src/images/cdd-background-home-16.png') no-repeat center center fixed;  
  background-size:cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  
}
.container-win{
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;

}

.container-win canvas{
  width: 100%;
  height: auto
}

.container-win img {
 z-index: 100;
  width: 50vw;
  
}

.container-win h1{
  text-align: center;
 font-weight: bold;
 color: white;
 margin: 0 auto;
 z-index: 100;
 width: 80%;
}
.star{
  transform: translateX(-1200px);
  animation: animStar 1s ease 1s forwards;
  margin:20px;
}
@keyframes animStar {
  0% {
    transform: translateY(1200px)
  }

  100% {
    transform: translateY(0)
  }

}
 
 

.container-stories{
  width: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-stories a {
  text-decoration: none;
}

.card-story h1{
  color: white;
  font-size: 1.2rem;
}

.card-story img {
  margin-top: 20px;
}

.logout-img {
  margin: 10px;
}

.parent-card-story{
  width: 110px;
  height: 200px;
  margin: 20px 20px;

}

.buttons-container {
  position: relative;
  bottom: 35px;
  padding: 0 9px;
  display: flex;
  justify-content: space-between;
}

.card-story {
  width: 110px;
  height: 190px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 5px;
  border: 3px solid #8a00a2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.plus-container {
  background: rgba(182, 179, 179, 0.384);
  margin:20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed #8a00a2
}

.go-back-travel-map {
  align-self: flex-start;
  margin-left: -15px;
}
 

.container-travel-map{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}
.container-travel-map > img{
 width: 20%;
}

.container-travel-map > a {
 text-align: center;
}

.container-travel-map > a > img{
 width: 40%;
}


.container-lecture{
  background: url('../src/images/cdd-background-home-16.png') no-repeat center center;  
  background-size:cover;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-story{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-title{
  width: 90%;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  color: white;
}

.story-part{
  text-align: center;
  margin-bottom: 35px;
  color: white;
}

.story-text{
  width: 90vw;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: white;
}

.not-found{
  background: url('../src/images/404-16.png') no-repeat center center; 
  background-size:cover;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  
  
}
.not-found a{
  margin-top: 40px;
}
.container-general-questions{
  background: url('../src/images/cdd-background-home-16.png') no-repeat center center;  
  background-size:cover;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}  
.container-questions div{
  color: aliceblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.container-questions h1{
  margin:20px;
  color: aliceblue;
  
}
.container-questions div p{
  margin: 20px;
  font-size: 1.5rem;

}

.container-questions div form{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px
}
  

.goback-icon{
  display: flex;
  margin: 20px;
}

.lecture-questions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:20px 0;
}

.container-newstory{
  background: url('../src/images/cdd-background-home-16.png') no-repeat center center;  
  background-size:cover;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-form-story{
  display: flex;
  flex-direction: column;
  width: 90%;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.container-form-story h1{
font-size: 50px;
}

.container-story{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.container-story > input{
  width: 100%;
}
.label{
  margin:10px 0;
  font-size: 25px;
}

.custom-select {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #3C1C78;
  background-color: white;
  z-index: 10;
  font-family: Dosis;
  font-size:22px;
}


.inputs-form{
 
   color:white;

}

.paragraph-textarea{
  font-family: Dosis;
  font-size:25px;

}

.center-text{
  
  color:white;
  text-align: center;
  margin-bottom: 5px;
}

.edit-label{
  color: white;
  text-align: center;
  font-size: 27px;
}

.edit-select{
  color: white;
  padding: 10px;
  margin:20px 10px;
  text-align: center;
}

.edit-select input{
  font-size: 25px;
  color: white;
  padding: 10px;
  margin:0px 10px;
}
input[type=radio] {
  border: 0px;
  width: 7%;
  height: 2em;
}
.label-question{
  border: 0px !important;
  width: 80% !important;
  height: 2em !important;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}


.label-question input{
  border: 0px !important;
  margin-right: 9px;
  width: 15%;
  height: 2em !important;
}
.message{
  font-size: x-large;
}

.btn-question{
  margin-top: 50px;
}