*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Dosis', sans-serif;
  
}
.container-welcome{
  background: url('../src/images/cdd-background-home-16.png') no-repeat center center fixed;
  min-height: 100vh;
  height: auto;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container-welcome>img{
  width: 70%;
  margin-bottom: 50px;
  margin-top: 10px;
}
.container-welcome>h1{
  font-weight: normal;
 font-size: 80px;
}
.btn-none{
  all: unset;
}
.btn{
  text-decoration: none;
  color: white;
  padding: 10px 0px;
  width: 60%;
  text-align: center;
  margin:10px 0px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  background: rgb(92,18,67);
  background: linear-gradient(297deg, rgba(92,18,67,1) 0%, rgba(187,70,147,1) 96%);
  
}


.cofre {
  opacity: 0.2;
  filter: alpha(opacity=50);
  pointer-events: none; /* For IE8 and earlier */
}
.container-signup{
  background: url('../src/images/wireframesrotate-16.png') no-repeat center center fixed;
  background-size:cover;
  min-height: 100vh;
  height: auto;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  

}
.inputs{
    width: 80%;
    padding: 20px;
    margin: 7px auto;
    border-style: none;
    box-shadow: none;
    border-bottom: 2px solid #8a00a2;
    font-size: 20px;
    background-color: transparent;
    text-align: center;

}
.container-form{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 30px auto;
  
  
}
.container-form button{
  margin: 20px auto;
}
.container-form p {
  color: #bb4693;
  font-weight: bold;
  font-size: 20px;
}

.link{
  text-decoration: none;
  
}
.container-login{
  background: url('../src/images/wireframes-01.png') no-repeat center center fixed;  
  background-size:cover;
  min-height: 100vh;
  height: auto;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
}

.container-general{
   min-height: 100vh;
    height: auto;
}

.home-page{
  background: url('../src/images/wireframes-03.png') no-repeat center center fixed;  
  background-size:cover;
}
.container-win {
  background: url('../src/images/cdd-background-home-16.png') no-repeat center center fixed;  
  background-size:cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
}
.container-win canvas{
  width: 100%;
}

.container-win img {
  width: 200px;
  
}
.container-win h1{
  text-align: center;
 font-weight: bold;
 color: white;
 margin: 0 auto;
 margin-top:50px;
 
 width: 80%;
}
.star{
  transform: translateX(-1200px);
  animation: animStar 1s ease 1s forwards;
}
@keyframes animStar {
  0% {
    transform: translateY(1200px)
  }

  100% {
    transform: translateY(0)
  }

}
 
 

.container-stories{
  width: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-stories a {
  text-decoration: none;
}

.card-story h1{
  color: white;
  font-size: 1.2rem;
}

.logout-img {
  margin: 10px;
}

.parent-card-story{
  width: 110px;
  height: 200px;
  margin: 20px 20px;

}

.buttons-container {
  position: relative;
  bottom: 35px;
  padding: 0 9px;
  display: flex;
  justify-content: space-between;
}

.card-story {
  width: 110px;
  height: 190px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 5px;
  border: 2px solid #8a00a2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plus-container {
  background: rgba(182, 179, 179, 0.384);
  margin:15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


 

.container-travel-map{
  display:flex;
  flex-direction: column-reverse;
  align-items: center;
  min-height: 100vh;
  
  background-size:cover;
}
.container-travel-map>img{
 width: 20%;
}

.container-lecture{
  background: url('../src/images/cdd-background-home-16.png') no-repeat center center;  
  background-size:cover;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-story{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-title{
  width: 90%;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  color: white;
}

.story-part{
  text-align: center;
  margin-bottom: 35px;
  color: white;

}

.story-text{
  font-family: 'Pacifico', cursive;
  width: 80%;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: white;

}

.not-found{
  background: url('../src/images/404-16.png') no-repeat center center; 
  background-size:cover;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  
  
}
.not-found a{
  margin-top: 40px;
}
.container-general-questions{
  background: url('../src/images/cdd-background-home-16.png') no-repeat center center;  
  background-size:cover;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container-questions{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}  
.container-questions div{
  color: aliceblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.container-questions h1{
  margin:20px;
  color: aliceblue;
  
}
.container-questions div p{
     margin: 20px;
    font-size: x-large;
    font-weight: bold;

}

.container-questions div form{display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px}

.container-questions div form label{
    margin: 10px;
    font-size: x-large;
    font-weight: bold;
  }
  .container-questions div form button{
    
      text-decoration: none;
      color: white;
      padding: 20px 30px;
      width: 60%;
      text-align: center;
      margin:10px 0px;
      border-radius: 10px;
      font-size: 25px;
      font-weight: bold;
      background: rgb(92,18,67);
      background: linear-gradient(297deg, rgba(92,18,67,1) 0%, rgba(187,70,147,1) 96%);
      
    
  }

.goback-icon{
  display: flex;
  margin: 20px;
}

.lecture-questions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:20px 0;
}


